.calculator {
    text-align: center;
    margin-top: 50px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

button{
    position: center;
    padding: 13px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


